.banner-content {
	width: 100%;
	height: 70px;
	background-color: #f85956;
	padding-top: 20px;
}

a {
	font-size: 16px;
	padding: 40px;
	color: white;
	text-transform: uppercase;
	font-family: sans-serif;
}

a:hover {
	color: rgb(27, 27, 27);
}

.bannertimkiem {
	height: 100px;
	width: 100%;
	margin-bottom: 15px;
}

.logo img {
	margin-left: 3%;
	margin-top: 20px;
}

.search {
	margin-top: -50px;
	width: 900px;
}

.input-search {
	height: 35px;
	width: 500px;
	background-color: rgb(255, 255, 255);
	border: #f85956 1.2px solid;
	margin-left: 35%;
	border-radius: 20px;
}

button {
	background-color: #f85956;
	border: pink 0px solid;
	color: white;
	border-radius: 5px;
}

.users {
	width: 40px;
	height: 35px;
	margin-top: -35px;
	margin-left: 75%;
}

.users img {
	width: 40px;
	height: 35px;
	border-radius: 50px;
}

.cart {
	width: 40px;
	height: 35px;
	margin-top: -35px;
	margin-left: 85%;
}

.cart img {
	width: 40px;
	height: 35px;
	border-radius: 50px;
}

.thuonghieu {
	width: 100%;
	height: 98px;
	/* background-color: rgb(245, 218, 223); */
}

.textthuonghieu {
	margin-left: 3%;
	font-size: 26px;
	font-weight: bold;
	padding-top: 20px;
	letter-spacing: 1.2px;
	width: 20%;
}

.textthuonghieu span {
	color: #f85956;
	font-size: 22px;
	font-weight: normal;
}

.brand {
	width: 70%;
	height: 85px;
	margin-left: 30%;
	margin-top: -85px;
	float: left;
}

.brand1 {
	width: 15%;
	height: 75px;
	margin-left: 5%;
	float: left;
	position: relative;
	overflow: hidden;
}

.brand1 img {
	float: left;
	width: 100%;
	height: 75px;
	transition: 1.2s;
}

.brand1:hover img {
	opacity: 0.7;
	transform: scale(1.09);
}

.float {
	clear: both;
}

.textspbanchay {
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 1.2px;
	text-align: center;
	color: #f85956;
}

.textspbanchay:hover {
	color: black;
}

.spo {
	width: 92%;
	margin-left: 3%;
	float: left;
	/* background-color: rgb(255, 255, 255); */
}

.spt {
	width: 92%;
	margin-top: 50px;
	margin-left: 3%;
	float: left;
	/* background-color: rgb(243, 235, 237); */
}

.spt1 {
	width: 92%;
	margin-top: 60px;
	margin-left: 3%;
	float: left;
	/* background-color: rgb(151, 25, 57); */
}

.spth {
	width: 92%;
	margin-top: 50px;
	margin-left: 3%;
	float: left;
	/* background-color: rgb(243, 235, 237); */
}

.sp1 {
	width: 21%;
	margin-top: 50px;
	height: 325px;
	margin-left: 3.5%;
	float: left;
	border: 1.5px pink solid;
	position: relative;
	overflow: hidden;
	transition: 1.2s;
}

.sp1 img {
	float: left;
	width: 100%;
	height: 175px;

}

.sp1:hover {
	opacity: 0.7;
	transform: scale(1.03);
}

.textsp1 {
	font-size: 13px;
	margin-left: 2%;
	padding-top: 185px;
	text-align: left;
	text-transform: uppercase;
	font-family: sans-serif;
	color: rgb(73, 72, 72);
}

.giasp1 {
	font-size: 13px;
	margin-left: 2%;
	font-weight: bold;
	color: #f85956;
	text-align: left;
	text-transform: uppercase;
	font-family: sans-serif;
}

.sp2 {
	width: 21%;
	height: 325px;
	margin-left: 3.5%;
	margin-top: 50px;
	float: left;
	border: 5px pink solid;
	position: relative;
}

.sp2 img {
	float: left;
	width: 100%;
	height: 325px;
	opacity: 0.9;

}

.textspnb {
	font-weight: bold;
	color: black;
	text-align: center;
	letter-spacing: 2px;
	font-size: 26px;
	position: absolute;
	left: 5%;
}

.textspnb:hover {
	color: pink;
}

.xemthem {
	width: 75%;
	background-color: pink;
	position: absolute;
	left: 12%;
	top: 250px;
	text-align: center;
	font-weight: bold;
}

.sp3 {
	width: 21%;
	height: 325px;
	margin-left: 3.5%;
	margin-top: 80px;
	float: left;
	border: 1.5px pink solid;
	position: relative;
	overflow: hidden;
	transition: 1.2s;
}

.sp3 img {
	float: left;
	width: 100%;
	height: 175px;
}

.sp3:hover {
	opacity: 0.7;
	transform: scale(1.03);
}

.float {
	clear: both;
}

.ttkm {
	width: 35%;
	margin-left: 30%;
	margin-top: 60px;
	height: 30px;
}

.texttkm {
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 2px;
	margin-left: 15%;
	text-align: center;
	color: black;
}

.texttkm:hover {
	color: #f85956;
}

.sp4 {
	width: 29.6%;
	height: 385px;
	margin-left: 3.5%;
	float: left;
	position: relative;
}

.sp4 img {
	float: left;
	width: 100%;
	height: 210px;
}

.textt1 {
	width: 100%;
	font-weight: bold;
	margin-top: 10px;
	position: absolute;
	color: black;
	left: -10%;
	top: 170px;
	text-transform: initial;
}

.nd {
	color: grey;
	position: absolute;
	top: 275px;
	left: 2%;
}

.ndd {
	color: grey;
	position: absolute;
	top: 330px;
	left: 2%;
}

hr {
	width: 100%;
	position: absolute;
	top: 300px;
}

.float {
	clear: both;
}

.footer {
	background: #f1cfcf;
	padding: 50px 70px;
	margin-top: 100px;
}

.ft-menu .cot {
	width: 25%;
	float: left;
}

.ft-menu .cot .ftmenu li {
	margin-bottom: 15px;
}

.ft-menu .cot:first-child .ftmenu li {
	margin-bottom: 5px;
}

.box-ftmenu .title {
	color: #ffffff;
	font-size: 20px;
	margin-bottom: 25px;
	font-weight: bold;
}

.box-ftmenu .ftmenu li a {
	font-size: 16px;
	font-weight: lighter;
	color: #ffffff;
	margin-left: -40px;
}

.ft-logo .cot {
	position: relative;
	height: 80px;
	overflow: hidden;
}

.ft-logo .cot .ct-l {
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -35%);
	-moz-transform: translate(-50%, -35%);
	-webkit-transform: translate(-50%, -35%);
	-o-transform: translate(-50%, -35%);
}

.ft-logo .cot .ct-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.ft-logo .cot .ct-r {
	position: absolute;
	top: 60%;
	left: 65%;
	transform: translate(-60%, -65%);
	-moz-transform: translate(-60%, -65%);
	-webkit-transform: translate(-60%, -65%);
	-o-transform: translate(-60%, -65%);
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: 20px;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	margin-left: 960px;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.modalCart {
	position: fixed;
	padding: 50px;
	width: 80%;
	max-height: 70%;
	overflow-y: scroll;
	background-color: #eee8e3;
	left: 50%;
	top: 49%;
	transform: translate(-50%, -50%);
	z-index: 10;
	border: 1px solid #fff;
	border-radius: 5px;
	display: none;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 5px;
}